<% @products.each do |product| %>
  <div class="product-card">
    <h3><%= link_to("#{product.name}", product_path(product)) %></h3>
    <p><%= product.description %></p>
    <p>Price: <%= product.price_in_dollars %></p>
    <br>
  </div>
<% end %>
